*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image: url('images/web-bac-color.jpeg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: black;
}

.project{
    margin-top: 15px;
    overflow: hidden;
    width: 100%;
}

.project-item{
    float: left;
    width: 32%;
    border: 1px solid blueviolet;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 300px;
}