*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image: url('images/web-bac-color.jpeg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: black;
}

.project{
    margin-top: 15px;
    overflow: hidden;
    width: 100%;
}

.project-item{
    float: left;
    width: 32%;
    border: 1px solid blueviolet;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 300px;
    background-color: mediumturquoise;
    text-align: center;
    color: red;
}

.project-imaage{
    width: 100%;
    height: 200px;
}

.footer{
    margin-top: 10px;
    height: 150px;
    background-color: blanchedalmond;
    color: blue;
}

.footer-item{
    float: left;
    width: 33%;
    margin-top: 10px;
}

.link{
    text-decoration: none;
    color: red;
    display: block;
}